@import '../../styles/index.scss';

.container {
    padding: 50px;
    height: 100%;
}

.main {
    @include flexCenter;
    height: 100%;

    input {
        margin: 5px 0;
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
}